@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #000000;
    --background: #ffffff;
    --border-radius: 4rem;
    --border-width: 4px;
    --m-i: linear-gradient(var(--background), var(--background));
    --m-o: content-box, padding-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes hue-blur {
    to {
        filter: hue-rotate(1turn) blur(1rem);
    }
}

body {
    color: rgb(var(--foreground));
    background-image: linear-gradient(
        45deg,
        #fecaca,
        #fed7aa,
        #fde68a,
        #fef08a,
        #d9f99d,
        #bbf7d0,
        #a7f3d0,
        #99f6e4,
        #a5f3fc,
        #bae6fd,
        #bfdbfe,
        #c7d2fe,
        #ddd6fe,
        #e9d5ff,
        #f5d0fe,
        #fbcfe8,
        #fecdd3
    );
    background-size: 400% 400%;
    background-position: center;
    animation: gradient 30s ease infinite;
    scroll-behavior: smooth;
}

@layer components {
    .submit {
        appearance: none;
        display: flex;
        justify-content: center;
        align-self: center;
        position: relative;
        padding: 1rem 2rem;
        border: 2px solid var(--foreground);
        background: var(--background);
        border-radius: var(--border-radius);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: nowrap;
        transition: transform .5s ease-in-out;
        z-index: 1;
    }

    .submit:hover {
        transform: scale(1.1);
    }

    .submit::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: var(--border-width);
        border-radius: var(--border-radius);
        background-image: conic-gradient(
                #ef4444,
                #f97316,
                #f59e0b,
                #eab308,
                #84cc16,
                #22c55e,
                #10b981,
                #14b8a6,
                #06b6d4,
                #0ea5e9,
                #3b82f6,
                #6366f1,
                #8b5cf6,
                #a855f7,
                #d946ef,
                #db2777,
                #f43f5e
        );
        z-index: -1;
        filter: hue-rotate(0) blur(1rem);
        animation: hue-blur linear 5s infinite;
    }

    .submit::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        background: var(--background);
        z-index: 0;
    }

    .submit span {
        position: relative;
        z-index: 1;
    }
}
